<?php
    if (session_status() == PHP_SESSION_NONE){
        session_start();
    }
?>
<!DOCTYPE html>
<html>
	<head>
			<title> Fleur de Jade | Spécialités Asiatiques</title>
			<link rel="stylesheet" href="page_commande/commande.css" />
			<FORM Method="post" action="commande.php">
			
			<meta charset="utf-8" />
			
			<link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet">
			
			<link rel="icon" href="page_commande/logo-3.ico" />
		
	</head>
	
	<body>
	
	
	<h2><img src="page_commande/logo.svg" height="25%" width="80%" style="padding:5px 0;"> </h2>
	
			<nav style="padding:5px 0;">	
					<ul>
					
						<li><a href="index.phtml">Page d'accueil</a></li>
						<li><a href="produits.phtml">Produits </a></li>
						<li><a href="contact.phtml">Contact</a></li>
						<li><a href="commande.phtml">Commande</a></li>
						<?php if (isset($_SESSION['auth'])): ?>
                    <li> <a href="logout.php">Se déconnecter</a></li>
                <?php else: ?>
                <li><a href="login.php">Se Connecter</a></li>
                <?php endif; ?>
						
					</ul>
			</nav>	
	
	
	<h1 id="commander"> Passez votre commande ! </h1>
	
	  
		<div id="separation">
			<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="90% solid" size="2px">
		</div>
	
		
	<div>
	
		<h1 id="titre"><u>Les entrées</u> :</h1> 
		
			<div id="face1">		
				
				<h3>Samoussa :</h3>					
						<div id="prod">
							<br>
							<br>-&ensp; <input type="number" name="a1" value="0" min="0" max="50"/>&ensp;&ensp;  Boeuf aux oignons <i>(sauce curry maison)</i> ........ 1,80€ (la pièce)
						</div>
					
					<h3>Rouleaux de printemps :</h3>
					 
						<div id="prod">
							<br>
							<br>-&ensp; <input type="number" name="a2" value="0" min="0" max="50"/>&ensp;&ensp;  Crevettes ........ 3,00€ (la pièce)
						</div>
						
					<h3> Nems : </h3>
						<div id="prod">
							<br>-&ensp; <input type="number" name="a3" value="0" min="0" max="50"/>&ensp;&ensp;  Nems porc ........ 0,45€ (la pièce)
							<br>-&ensp; <input type="number" name="a4" value="0" min="0" max="50"/>&ensp;&ensp;  Nems Poulet crevette ........ 0,90€ (la pièce)
							<br>-&ensp; <input type="number" name="a5" value="0" min="0" max="50"/>&ensp;&ensp;  Mini nems ........ 0,90€ (la pièce)
						</div>
					

			</div>	
				
			<div id="separation1">
				<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="2px solid" size="510px">
			</div>	
					
		
			<div id="face2">

					<h3>Raviolis à la vapeur :</h3>
						<div id="prod">
							<br>-&ensp; <input type="number" name="a6" value="0" min="0" max="50"/>&ensp;&ensp;  Boeuf ........ 4,20€ (6 pièces)
							<br>-&ensp; <input type="number" name="a7" value="0" min="0" max="50"/>&ensp;&ensp;  Crevettes ........ 4,20€ (6 pièces)
							<br>-&ensp; <input type="number" name="a8" value="0" min="0" max="50"/>&ensp;&ensp;  Porc ........ 4,20€ (6 pièces)
							<br>-&ensp; <input type="number" name="a9" value="0" min="0" max="50"/>&ensp;&ensp;  Poulet et légumes ........ 4,20€ (4 pièces)
						</div>
						
						
					<h3>Salades :</h3>
						<div id="prod">
							<br>
							<br>-&ensp; <input type="number" name="a10" value="0" min="0" max="50"/>&ensp;&ensp;  Vietnamienne au boeuf ........ 7,50€ (par personne)
							<br>-&ensp; <input type="number" name="a11" value="0" min="0" max="50"/>&ensp;&ensp;  Vietnamienne aux crevettes ........ 7,50€ (par personne)
							<br>-&ensp; <input type="number" name="a12" value="0" min="0" max="50"/>&ensp;&ensp;  Thai (épicé) ........ 12,50€
							
							<br>
							<br>
							<br>-&ensp; <input type="number" name="a13" value="0" min="0" max="50"/>&ensp;&ensp;  Chips aux crevettes ........ 1,20€ (le sachet)
							
						</div>
						
			</div>
	
	</div>
	
	
		<div id="separation">
			<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="100% solid" size="2px">	
		</div>
	

	
	<div>
		
			<h1 id="titre"><u>Plats principaux</u> :</h1> 
		
			<div id="face3">	
			
				<h3>Riz :</h3>
						<div id="prod">
							<br>-&ensp; <input type="number" name="a14" value="0" min="0" max="50"/>&ensp;&ensp;  Riz nature ........ 0,90€ (100g)
							<br>-&ensp; <input type="number" name="a15" value="0" min="0" max="50"/>&ensp;&ensp;  Riz cantonnais ........ 1,20€ (100g)
						</div>
						
				<br><br>
				
				<h3>Spécial commande :</h3>
						<div id="prod">
							<br>-&ensp; <input type="number" name="a16" value="0" min="0" max="50"/>&ensp;&ensp;  Shop suey (assortiment de légumes) ........ 2,00€ (100g)
							<br>
							<br>
							<br>-&ensp; <input type="number" name="a17" value="0" min="0" max="50"/>&ensp;&ensp;  Fondue chinoise ........ 25,00€ (par personne)
							<br> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <i>- 5 personnes minimum</i>
							<br> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <i>- matériel prêté par le magasin avec une caution de l'appareil</i>
							
						</div>
						
				
			</div>	
				
			<div id="separation2">
				<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="2px solid" size="430px">
			</div>	
					
		
			<div id="face4">

					<h3>Viandes :</h3>					
						<div id="prod">
							<br>
							<br>-&ensp; <input type="number" name="a18" value="0" min="0" max="50"/>&ensp;&ensp;  Travers de porc ........ 3,20€ (100g)
							<br>-&ensp; <input type="number" name="a19" value="0" min="0" max="50"/>&ensp;&ensp;  Poulet au curry ........ 2,50€ (100g)
							<br>-&ensp; <input type="number" name="a20" value="0" min="0" max="50"/>&ensp;&ensp;  Porc sauce aigre douce ........ 2,20€ (100g)
							<br>-&ensp; <input type="number" name="a21" value="0" min="0" max="50"/>&ensp;&ensp;  Brochette de poulet ........ 0,95€ (la pièce)
							<br>-&ensp; <input type="number" name="a22" value="0" min="0" max="50"/>&ensp;&ensp;  Boeuf aux oignons ........ 2,70€ (100g)
						</div>
					
				<h3>Nouilles et crevettes :</h3>
					 
						<div id="prod">
							<br>
							<br>-&ensp; <input type="number" name="a23" value="0" min="0" max="50"/>&ensp;&ensp;  Nouilles sautées au soja ........ 1,20€ (100g)
							<br>-&ensp; <input type="number" name="a24" value="0" min="0" max="50"/>&ensp;&ensp;  Crevettes imperiales ........ 4,00€ (100g)
						</div>
			</div>	
	</div>
		
		
		<div id="separation">
			<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="100% solid" size="2px">
		</div>
		
		

		
	<div>
	
		<h1 id="titre"><u>Les sauces</u> :</h1> 
		
			<div id="face7">		
					
					<h3>Sauce nems :</h3>
						<div id="prod">
							<br>-&ensp; <input type="number" name="a25" value="0" min="0" max="50"/>&ensp;&ensp;  Petite sauce ........ 0,50€
							<br>-&ensp; <input type="number" name="a26" value="0" min="0" max="50"/>&ensp;&ensp;  Moyenne sauce ........ 1,00€
							<br>-&ensp; <input type="number" name="a27" value="0" min="0" max="50"/>&ensp;&ensp;  Grande sauce ........ 2,00€
						</div>

			</div>	
				
			<div id="separation3">
				<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="2px solid" size="180px">
			</div>	
					
		
			<div id="face8">

						<div id="prod">
							<br>-&ensp; <input type="number" name="a28" value="0" min="0" max="50"/>&ensp;&ensp;  Sauce aigre-douce ........ 0,60€
							<br>
							<br>-&ensp; <input type="number" name="a29" value="0" min="0" max="50"/>&ensp;&ensp;  Sauce piquante ........ 0,60€
							
						</div>
				
						
			</div>
	
	</div>		
		
		
			
	
		<div id="separation">
			<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="100% solid" size="2px">
		</div>	
		
		
	<div>
	
		<h1 id="titre"><u>Les desserts</u> :</h1> 
		
			<div id="face5">		
					
						<div id="prod">
							<br>-&ensp; <input type="number" name="a30" value="0" min="0" max="50"/>&ensp;&ensp;  Litchis ........ 1,30€
							<br>-&ensp; <input type="number" name="a31" value="0" min="0" max="50"/>&ensp;&ensp;  Nougat chinois ........ 1,90€
						</div>
					

			</div>	
				
			<div id="separation4">
				<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="2px solid" size="120px">
			</div>	
					
		
			<div id="face6">

						<div id="prod">
							<br>-&ensp; <input type="number" name="a32" value="0" min="0" max="50"/>&ensp;&ensp;  Boule de coco ........ 1,00€
							<br>-&ensp; <input type="number" name="a33" value="0" min="0" max="50"/>&ensp;&ensp;  Gingembre confit ........ 1,30€
							
						</div>
				
						
			</div>
	
	</div>
		
				
		<div id="separation">
			<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="100% solid" size="2px">	
		</div>
		
	<div>
	
		<h1 id="titre"><u>Les boissons</u> :</h1> 
		
			<div id="face9">		
					
						<div id="prod">
							<br>-&ensp; <input type="number" name="a34" value="0" min="0" max="50"/>&ensp;&ensp;  Coca-cola ........ 1,50€
							<br>-&ensp; <input type="number" name="a35" value="0" min="0" max="50"/>&ensp;&ensp;  Orangina ........ 1,50€
							<br>-&ensp; <input type="number" name="a36" value="0" min="0" max="50"/>&ensp;&ensp;  Perrier ........ 1,50€
							<br>-&ensp; <input type="number" name="a37" value="0" min="0" max="50"/>&ensp;&ensp;  Oasis ........ 1,50€
							<br>-&ensp; <input type="number" name="a38" value="0" min="0" max="50"/>&ensp;&ensp;  Ice Tea ........ 1,50€
							<br>-&ensp; <input type="number" name="a39" value="0" min="0" max="50"/>&ensp;&ensp;  Fanta ........ 1,50€
						</div>
					

			</div>	
				
			<div id="separation5">
				<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="2px solid" size="190px">
			</div>	
					
		
			<div id="face10">

						<div id="prod">
							<br>-&ensp; <input type="number" name="a40" value="0" min="0" max="50"/>&ensp;&ensp;  Pulco ........ 1,50€
							<br>-&ensp; <input type="number" name="a41" value="0" min="0" max="50"/>&ensp;&ensp;  Evian ........ 1,00€
							<br>-&ensp; <input type="number" name="a42" value="0" min="0" max="50"/>&ensp;&ensp;  Jus de litchi ........ 1,60€
							<br>-&ensp; <input type="number" name="a43" value="0" min="0" max="50"/>&ensp;&ensp;  Jus de mangue ........ 1,60€
							<br>-&ensp; <input type="number" name="a44" value="0" min="0" max="50"/>&ensp;&ensp;  Jus de coco ........ 1,80€
							<br>-&ensp; <input type="number" name="a45" value="0" min="0" max="50"/>&ensp;&ensp;  Bière asiatique ........ 2,50€
						</div>
				
						
			</div>
	
	</div>	
		
	<div id="ppp">
	
		<input id="retour" type="reset" value="Annuler la selection"/>
	
	&ensp;&ensp;&ensp;&ensp;

		<input id="valider" type="submit" value="Valider votre commande" onclick="alert('Nous allons afficher un récapitulatif de votre commande pour confirmation.')" />
	

	</div>
	

			<p id="conditions">
				04 76 93 79 41
				<br>
				53 rue de la république
				<br>
				38 140 		RIVES
			</p>

		
	
	</body>
	

</html>