<?php
    if (session_status() == PHP_SESSION_NONE){
        session_start();
    }
?>
<!DOCTYPE html>
<html>
	<head>
			<title> Fleur de Jade | Spécialités Asiatiques</title>
			<link rel="stylesheet" href="page_conditions/conditions.css" />
			<meta charset="utf-8"/>
			
			
			<link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet">
			
			<link rel="icon" href="page_conditions/logo-3.ico" />
		
	</head>
	
	<body>
	
	
	
	<h2><img src="page_commande/logo.svg" height="25%" width="80%" style="padding:5px 0;"> </h2>
	
			<nav style="padding:5px 0;">	
					<ul>
					
						<li><a href="menu.html">Page d'accueil</a></li>
						<li><a href="produits.html">Produits </a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="commande.html">Commande</a></li>
						<?php if (isset($_SESSION['auth'])): ?>
                    <li> <a href="logout.php">Se déconnecter</a></li>
                <?php else: ?>
                <li><a href="login.php">Se Connecter</a></li>
                <?php endif; ?>
						
					</ul>
			</nav>	
	
	
		<div id="lois">
		
			<h1 id="titre_1">Mentions légales</h1>
			
			<p id="numero_1">
		
				La loi du 21 juin 2004 pour la confiance dans l'économie numérique et le décret  du 25 février 2011, imposent des obligations de conservation de certaines données.
Les hébergeurs de sites, blogs, de réseaux sociaux, etc. et les fournisseurs d'accès à internet qui assurent, même à titre gratuit, le stockage d'écrits, images, sons ou messages de toute nature fournis par des destinataires de leurs services de communication en ligne, doivent conserver les données permettant d'identifier les personnes (internautes, abonnés) qui ont contribué à la création, à la modification et à la suppression de ces contenus.
La durée de conservation de ces données est d'un an. Le point de départ de ce délai varie selon la nature des données.
Les modalités de conservation doivent être conformes à l'article 34 de la loi informatique et libertés, relatif à la sécurité des informations

Ces données, sont des informations liées à la personne physique ou morale comme le nom, le prénom, l'adresse postale, le pseudo, l'e-mail, le numéro de téléphone, etc. mais également des informations qui se trouvent dans le registre des serveurs comme la date et l'heure de connexion, l'identifiant de connexion, le protocole, etc. Ce sont des informations que l'on retrouve dans les fichiers "log" du serveur.

Le site internet qui propose ces services vérifiera auprès de son hébergeur que ces obligations sont bien remplies par ce dernier.

Les tribunaux, les services de police et de gendarmerie peuvent demander communication de toutes ces données dans le cadre de la lutte contre le terrorisme.
		

Site crée pour un projet SIG
Anthony Galiano, Cédric Quéhen, Maïssane Smaili
			</p>
		
		</div>
	
		
		
		
		<div id="ppp">
	
			<a href="menu.html" style="text-decoration:none" ><input id="retour" type="button" value="Retour page accueil"/></a>
	
			&ensp;&ensp;&ensp;&ensp;

			<a href="inscription.html" style="text-decoration:none" ><input id="valider" type="button" value="Retour page inscription et connexion"/></a>
	
		</div>

		

			<p id="conditions">
				04 76 93 79 41
				<br>
				53 rue de la république
				<br>
				38 140 		RIVES
			</p>

		
	
	</body>
	

</html>