<?php
    if (session_status() == PHP_SESSION_NONE){
        session_start();
    }
?>
<!DOCTYPE html>
<html>
	<head>
			<title> Fleur de Jade | Spécialités Asiatiques</title>
			<link rel="stylesheet" href="page_contact/contact.css" />
			<meta charset="utf-8" />
			
			<link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet">
			<link rel="icon" href="page_contact/logo-3.ico" />
		
	</head>
	
	<body>
	
	
	<h2><img src="page_contact/logo.svg" height="25%" width="80%" style="padding:5px 0;"> </h2>
	
			<nav style="padding:5px 0;">	
					<ul>
						<li><a href="index.phtml">Page d'accueil</a></li>
						<li><a href="produits.phtml">Produits </a></li>
						<li><a href="contact.phtml">Contact</a></li>
						<li><a href="commande.phtml">Commande</a></li>
						<?php if (isset($_SESSION['auth'])): ?>
                    <li> <a href="logout.php">Se déconnecter</a></li>
                <?php else: ?>
                <li><a href="login.php">Se Connecter</a></li>
                <?php endif; ?>
					</ul>
			</nav>	
	
	
	<div>
	
		<div id="face1">
	
			<p id="fb">
				 <h1 id="titre">&#8226; <u>Adresse</u> :</h1> 53 Rue de la République 
				<br>
				 <h1 id="titre">&#8226; <u>Ville</u> :</h1> RIVES
				<br>
				<h1 id="titre">&#8226; <u>Code postal</u> :</h1> 38 140
				<br>
				<h1 id="titre">&#8226; <u>Numéro de téléphone</u> :</h1> 04 76 93 79 41
				<br>
				<h1 id="titre">&#8226; <u>Notre adresse e-mail</u> :</h1> fleur-de-jade@gmail.com 
			<p>
		
		</div>
		
		<div id="separation">
			<hr style="color: black; background-color: black; border: none;" width="2px solid black" size="250px">	
		</div>
	
		<div id="face2">
		
			<p id="fb">		
				Vous pouvez aussi nous trouver sur Facebook  
				&ensp;
				<a href="https://www.facebook.com/fleurdejade38/" target="_blank"><img  id="facebook" src="page_contact/facebook.png" height="50" width="50"/></a>
			<br>
			<br>
			<br>
			<br>
				Vous pouvez aussi nous trouver sur Twitter 
				&ensp;
				<a href="https://www.twitter.com" target="_blank"><img  id="twitter" src="page_contact/twitter.png" height="50" width="50"/></a>
			</p>	
		
		</div>
		
		<div id="separation">
			<hr style="color: black; background-color: black; border: none;" width="2px solid black" size="250px">	
		</div>
		
		<div id="face3">
		
			<h1 id="horraires"><u>Horaires d'ouverture de la boutique :</u></h1>
		
			<p id="fb">		
				&#8226; <u>Du Mardi au Samedi</u> :  
					<br>
				&ensp;&ensp;	- de 10h30 à 14h00
					<br>
				&ensp;&ensp;	- de 16h00 à 19h30
					<br>
					<br>
				&#8226; <u>Le Dimanche</u> : 
					<br>
				&ensp;&ensp;	- seuleument sur commande
			</p>	
		
		</div>
		
	</div>
	
	
	
	<div id="map" style="padding-bottom:20px;">
	
		<div id="map_map">
	
			<script id="map_map" type="text/javascript" src="http://www.supportduweb.com/google_map_gen.js?lati=45.349309&long=5.503591&zoom=19&width=675&height=400&mapType=normal&map_btn_normal=yes&map_btn_satelite=yes&map_btn_mixte=yes&map_small=yes&marqueur=yes&info_bulle=53%20Rue%20de%20la%20R%C3%A9publique%20-%20Rives%20-%2038140"></script>
		
		</div>
	
		<div id="map_img">
		
			<img  src="page_contact/2..jpg"  height="300" width="400">

		</div>	
	
	</div>
	
	
			<p id="conditions">
				04 76 93 79 41
				<br>
				53 rue de la république
				<br>
				38 140 		RIVES
			</p>

		
	
	</body>
	

</html>