<script>
    if (session_status() == PHP_SESSION_NONE){
        session_start();
    }
</script>
<!DOCTYPE html>
<html>
	<head>
			<title> Fleur de Jade | Spécialités Asiatiques</title>
			<link rel="stylesheet" href="page_accueil/menu.css" />
			<meta charset="utf-8" />
			
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<script src="page_accueil/menu.js" type="text/javascript"></script>
			
			<link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet">
			
			<link rel="icon" href="page_accueil/logo-3.ico" />
		
	</head>
	
	<body>
	
	
	<h2><img src="page_accueil/logo.svg" height="25%" width="80%" style="padding:5px 0;"> </h2>
	
			<nav style="padding:5px 0;">	
					<ul>
					
						<li><a href="menu.html">Page d'accueil</a></li>
						<li><a href="produits.html">Produits </a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="commande.html">Commande</a></li>
                        <script> if (isset($_SESSION['auth'])):
                    <li> <a href="logout.php">Se déconnecter</a></li>
						else: 
                <li><a href="login.php">Se Connecter</a></li>
						endif; </script>
					</ul>
			</nav>	
	
	<script language="JavaScript" src="http://www.compteur-gratuit.org/count/c.js?id=8008398&t=1&d=47&n=5&s=0"></script>
    
    <div style="padding-top:30px 0;">
        <div id="thumbnail-slider">
            <div class="inner">
                <ul>
                    <li>
                        <a class="thumb" href="page_accueil/img/2..jpg"></a>
                    </li>

                    <li>
                        <a class="thumb" href="page_accueil/img/4..jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="page_accueil/img/1..jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="page_accueil/img/3..jpg"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
   
  
	
   
    <div id="non">

		<a href="conditions.html" ><img  id="pdf_img" src="page_produits/logo_3.svg" height="180" width="185"/></a>
			<p id="noon">Mentions légales</p>
	</div>
   
 
 
 
 
 <div id="oui">
  
	<div id="menu">

		<h1 id="menu1"> Menu du midi </h1>


			<p id="menu2">
			
				Formule 1 : 
				<br>
				- Riz cantonnais ou riz nature
				<br>
				- 1 viande au choix
				<br>
				- 1 cannette non alcoolisée
				<br>
				<br>
				<br>
				Formule 2 :
				<br>
				- Nouilles sautées
				<br>
				- 1 viande au choix
				<br>
				- 1 canette non alcoolisée
			</p>

	</div>


	<div id="actualite">
		<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffleurdejade38%2F%3Ffref%3Dts&tabs=e.g.%2C%20timeline%2C%20messages%2C%20events&width=500px&height=650px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500px" height="650px" style="border:none; overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
	</div>

</div>


	



<br><br><br><br><br><br>	
	

		

			<p id="conditions">
				04 76 93 79 41
				<br>
				53 rue de la république
				<br>
				38 140 		RIVES
			</p>

		
	
	</body>
	

</html>