<?php require 'inc/header.php'; ?>




			<link rel="stylesheet" href="page_produits/produits.css" />
			<script src="page_produits/produits.js" type="text/javascript"></script>
			<link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet">
			<link rel="icon" href="page_produits/logo-3.ico" />

	
	<div style="max-width:900px; margin:0 auto; padding-left:0px; padding-bottom:20px ">

        <div style="float:left;padding-top:10px;">
            <div id="thumbnail-slider">
                <div class="inner">
                    <ul>
                        
                        <li>
                            <a class="thumb" href="page_produits/imagesproduits/1.png"></a>
                        </li>
                        <li>
                            <a class="thumb" href="page_produits/imagesproduits/2.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/3.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/4.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/5.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/6.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="page_produits/imagesproduits/7.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/8.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/9.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/10.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/11.png"></a>
                        </li>
                        <li>
                            <a class="thumb" href="page_produits/imagesproduits/12.JPG"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/13.JPG"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/14.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/15.jpeg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/16.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="page_produits/imagesproduits/17.JPG"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/18.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/19.jpeg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/20.JPG"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/21.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="page_produits/imagesproduits/22.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/23.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/24.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/25.jpeg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/26.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="page_produits/imagesproduits/27.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/28.jpeg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/29.jpeg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/30.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/31.jpeg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="page_produits/imagesproduits/32.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/33.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/34.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/35.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/36.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="page_produits/imagesproduits/37.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/38.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/39.jpg"></a>
                        </li>
						<li>
                            <a class="thumb" href="page_produits/imagesproduits/40.jpg"></a>
                        </li>
						
                    </ul>
                </div>
            </div>
        </div>
	</div>	
		
		
		
		
	<div id="popopo">
		<div id="face1">
			<p id="fb">
				 <h1 id="titre"><u>Les entrées</u> :</h1> 
				<br> 
				<ul>
					<li id="prod"><a id="color" href="fiche_prod_1.html">Nems</a></li>
					<li id="prod"><a id="color" href="fiche_prod_1.html">Raviolis à la vapeur</a></li>
					<li id="prod"><a id="color" href="fiche_prod_1.html">Rouleaux de printemps</a></li>
					<li id="prod"><a id="color" href="fiche_prod_1.html">Samoussa</a></li>
					<li id="prod"><a id="color" href="fiche_prod_1.html">Salades</a></li>
				</ul>
			</p>
		</div>
		
		
		<div id="separation">
			<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="2px solid" size="370px">	
		</div>
	
	
		<div id="face2">
		
			<p id="fb">		
				<h1 id="titre"><u>Plats principaux</u> :</h1> 
				<br>
				<ul>
					<li id="prod"><a id="color" href="fiche_prod_2.html">Viandes</a></li>
					<li id="prod"><a id="color" href="fiche_prod_2.html">Nouilles et crevettes</a></li>
					<li id="prod"><a id="color" href="fiche_prod_2.html">Riz</a></li>
					<li id="prod"><a id="color" href="fiche_prod_2.html">Spécial commande</a></li>
				</ul>
			</p>	
		</div>
		
		
		<div id="separation">
			<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="2px solid" size="370px">
		</div>
		
		
		<div id="face3">
			<p id="fb">		
				<h1 id="titre"><u>Desserts</u> :</h1> 
				<br>
				<ul>
					<li id="prod"><a id="color" href="fiche_prod_3.html">Litchis</a></li>
					<li id="prod"><a id="color" href="fiche_prod_3.html">Nougat chinois</a></li>
					<li id="prod"><a id="color" href="fiche_prod_3.html">Boule de coco</a></li>
					<li id="prod"><a id="color" href="fiche_prod_3.html">Gingembre confit</a></li>
				</ul>
			</p>	
		</div>
		
		
		<div id="separation">
			<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="2px solid" size="370px">
		</div>
		
		
		<div id="face4">
			<p id="fb">		
				<h1 id="titre"><u>Boissons</u> :</h1> 
				<br>
				<ul>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Coca-cola</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Orangina</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Perrier</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Oasis</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Ice Tea</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Fanta</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Pulco</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Evian</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Jus de litchi</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Jus de mangue</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Jus de coco</a></li>
					<li id="prod"><a id="color" href="fiche_prod_4.html">Bière asiatique</a></li>
				</ul>
			</p>	
		</div>
		
		
		<div id="separation">
			<hr style="background:linear-gradient(to bottom, black, #BC0B28); border: none;" width="2px solid" size="370px">	
		</div>
		
		
		<div id="face5">
			<p id="fb">		
				<h1 id="titre"><u>Sauces</u> :</h1> 
				<br>
				<ul>
					<li id="prod"><a id="color" href="fiche_prod_5.html">Sauces nems</a></li>
					<li id="prod"><a id="color" href="fiche_prod_5.html">Sauce aigre-douce</a></li>
					<li id="prod"><a id="color" href="fiche_prod_5.html">Sauce piquante</a></li>
				</ul>
			</p>	
		</div>
		
	</div>
	
	<br><br>
	
	<div id="pdf">
	
		<img  id="pdf_img" src="page_produits/logo_3.svg" height="40" width="45"/>
		<img  id="pdf_img" src="page_produits/logo_3.svg" height="70" width="75"/>
		
		<a href="page_produits/prospectuse1.pdf" target="_blank"><img  id="pdf_img" src="page_produits/produits1.jpg" height="100" width="150"/></a>	
		<a href="page_produits/prospectuse1.pdf" target="_blank"><img  id="pdf_img" src="page_produits/produits.jpg" height="100" width="150"/></a>
		
		<img  id="pdf_img" src="page_produits/logo_3.svg" height="70" width="75"/>
		<img  id="pdf_img" src="page_produits/logo_3.svg" height="40" width="45"/>
	
	</div>
		

			<p id="conditions">
				04 76 93 79 41
				<br>
				53 rue de la république
				<br>
				38 140 		RIVES
			</p>

		
	
	</body>
	

</html>