body 
	{
		background: url("gris.png") no-repeat center fixed;
		-webkit-background-size: cover;
		background-size: cover;
	}


h2{
	text-align:center;
}	

	
		
		
/*-------------Menu------------*/		
		
nav ul
	{
		padding: 0px;
		margin-right: 0px;
		list-style-type:none;
		text-align: center;
	}

nav li 
	{
		display: inline-block;
		width: 16%;
		height: 40px;
		margin: 10px;
		padding: 0px;
		border-left: 2px solid black;
		border-right: 2px solid black;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		border-radius: 10px;
		text-align: center;
		line-height: 40px;
	}


nav li a 
	{
		display: block;
		text-decoration: none;
		color: black;
		font-size:18px;
		font-family: 'Risque', cursive;
	}
	
/*-------------------------------*/	


#conditions
	{
		text-align : right;
		margin-right : 0px;
		border-top: 2px solid black;
		font-family: 'Risque', cursive;
	}	
		
		
		
		
/*-----------Image aperçu automatique----------------------*/

#thumbnail-slider {
    margin:0 auto; /*center-aligned*/
    max-width:1000px;
    padding:0;
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider div.inner {    
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:0;
    margin:0;
}
 
#thumbnail-slider div.inner ul {    
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider ul li {
    display:inline-block;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:-70px; margin-right:-70px; /* Spacing between thumbs*/
    -webkit-transform:scale(0.9);
    transform:scale(0.9); /*Note: The scale down will increase the spacing between slides. You can set negative margins as did above to roll back the spacing. */
    -webkit-transition:-webkit-transform 0.5s;
    transition:transform 0.5s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
    
	/*-webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/
    
}

#thumbnail-slider ul li.active {
    -webkit-transform:scale(1.15); 
    transform:scale(1.15); /*Note: if scale is greater than 1, the margin-top and margin-bottom in the selector "#thumbnail-slider li" must be set with a sufficient value so the enlarged image will be shown within the margins.*/
    background-color:transparent;
    
	/*-webkit-filter: initial;
	filter: initial;*/
}

#thumbnail-slider .thumb {
    width:100%;
    height: 65%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    display:block;
    position:absolute;
    font-size:0;
    cursor:inherit;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.4)));
    transition:all linear 0.4s;
}


/*-- Start 3D --*/
    #thumbnail-slider .thumb {
        -webkit-transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
        transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
    }

    #thumbnail-slider .active .thumb {
        -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg); 
        transform: translateX(0px) translateZ(0px) rotateY(0deg); 
    }

    #thumbnail-slider li.active ~ li .thumb {
        -webkit-transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
        transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
    }
/*-- End 3D --*/

/* --------- navigation controls ------- */   
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {display:none;} /*.pause*/
#thumbnail-slider-prev, #thumbnail-slider-next {display:none;}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/



#menu
	{
		
		border-left: 4px solid black;
		border-right: 4px solid black;
		border-top: 4px solid black;
		border-bottom: 4px solid black;
		border-radius: 1000px;
		width:500px;
		height:500px;
		display:inline-block;
		vertical-align:middle;
	}

#menu1
	{
		padding-top:15px;
		text-align: center;
		font-size:35px;
		font-family: 'Risque', cursive;
	}
	
#menu2
	{
		text-align: center;
		font-size:28px;
		font-family: 'Risque', cursive;
	}	


#actualite
	{
		text-align: right;
		display:inline-block;
		padding-left:100px;
		vertical-align:middle;
	}

#oui
	{
		display:inline-block;
		padding-right:5%;
		padding-left:4%;
	}


#pdf_img
	{
		padding-left:center;
	}

#non
	{
		text-align:center;
	}

#noon
	{
		text-align: center;
		font-size:25px;
		font-family: 'Risque', cursive;
		padding-bottom:60px;
	}